<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    
    <div class="alert alert-danger">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:
      </h2>

      <ul class="rails-bootstrap-forms-error-summary">
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  
  <div class="field form-group">
    <%= form.label :firstName, class: 'col-sm-2 control-label' %>
    <div >
    <%= form.text_field :firstName, id: :patient_firstName %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :lastName, class: 'col-sm-2 control-label' %>
    <div >
    <%= form.text_field :lastName, id: :patient_lastName %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :sex, class: 'col-sm-2 control-label' %>
    <div >
    <%= form.text_field :sex, id: :patient_sex %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :age, class: 'col-sm-2 control-label' %>
    <div >
    <%= form.number_field :age, id: :patient_age %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :address, class: 'col-sm-2 control-label' %>
    <div >
    <%= form.text_field :address, id: :patient_address %>
    </div>
  </div>
  
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <br>
      <%= form.submit %>
      </div>
  </div>
<% end %>
