<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastName %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>
<h2>Reports</h2>
<table class="table">
  <thead>
    <tr>
      <th>Symp</th>
      <th>Analysis</th>
      <th>Prescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @patient.reports.each do | report| %>
  <tr>
        <td><%= report.symp %></td>
        <td><%= report.analysis %></td>
        <td><%= report.presc %></td>
        
      </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New Report', new_patient_report_path(@patient), class: 'btn btn-default' %>
<br>
<%= link_to 'Back', patients_path, class: 'btn btn-default' %>
